concesionario/concesionario.dtd

<!ELEMENT Concesionario (coche)*>
<!ELEMENT coche (codigo, marca, modelo, matricula, potencia, plazas,
numPuertas )>
<!ELEMENT codigo (#PCDATA)>
<!ELEMENT marca (#PCDATA)>
<!ELEMENT modelo (#PCDATA)>
<!ELEMENT matricula (#PCDATA)>
<!ELEMENT potencia (#PCDATA)>
<!ELEMENT plazas (#PCDATA)>
<!ELEMENT numPuertas (#PCDATA)>